@import url('./fonts.css');

* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  max-width: 100vw;
}

html,
body {
  background-color: #ffffff;
  overflow-x: hidden;
  max-width: 100vw;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 22px;
}

